
@using PagedList.Mvc;
@using PagedList;

@model IPagedList<DataLibrary.Models.NewFolder1.tbl_TinTuc>

@{
    ViewBag.Title = "Tin tức";
}

<div class="object-detail">
    <div class="post">
        @if (Model.Count == 0)
        {
            <div class="alert alert-info">Hiện không có tin nào nào</div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="item">
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 img">
                        <a href="/Guest/Home/NewsDetails/@item.TinTucID"><img src="@item.ImagePath" alt="@item.TieuDe" /></a>
                        <div class="time">
                            <span>@item.NgayViet.Value.Day-@item.NgayViet.Value.Month</span>
                            <span>@item.NgayViet.Value.Year</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 title">
                        <h2 class="header"><a href="/Guest/Home/NewsDetails/@item.TinTucID">@item.TieuDe</a></h2>
                        <div class="description">
                            @if (item.NoiDung.Length > 100)
                            {
                                item.NoiDung = item.NoiDung.Substring(0, 100) + "...";
                                @item.NoiDung
                            }
                            else
                            {
                                @item.NoiDung
                            }

                        </div>
                    </div>
                </div>

            } @Html.PagedListPager(Model, page => Url.Action("", new { page, pageSize = Model.PageSize }))
        }
    </div>
</div>

